doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   article.container
     each v in veicoli
       div.person
         div.person-image(style=`background: url('/img/${v.imgSrc}') top center no-repeat; background-size: cover;`)
         h2.person-name
           | #{person.firstname} #{person.lastname}
         a(href=`/profile?id=${v.id}`)
           | View Profile