doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   article.container
     each veicoli in veicoli
       div.v
         div.v-image(style=`background: url('/img/${v.foto}') top center no-repeat; background-size: cover;`)
         h2.v-name
           | #{v.Number} #{v.Name}
         a(href=`/profile?Number=${v.Number}`)
           | View veicolo